<!-- Please add this to your document head -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    
    <link rel="stylesheet" href="//unity-plugin.iamdave.ai/conversation-plugin/css/style.css"></link>
    <script src="//code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>


<!-- Please add this to your document body -->
<body>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="sap/1.0/web.css">
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/unity/brands_arena/ProjectBuild.loader.js"></script>
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/conversation-plugin/lib/socket.io.js"></script>
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/conversation-plugin/lib/socket.stream.io.js"></script>
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/conversation-plugin/lib/RecordRTC.js"></script>
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/conversation-plugin/lib/vad.js"></script>
    <script type="text/javascript" src="//unity-plugin.iamdave.ai/conversation-plugin/build/1.0/avatar-conversation-plugin.js"></script>
    <script type="text/javascript" src="sap/1.0/web.js"></script>

    <div id='loaded_whiteboard' class="nexa">
        <div style='width:100%; height: 100%;'>
            <img src='//general-iamdave-mumbai.s3.ap-south-1.amazonaws.com/maruti_brands/nexa/dave_init.png' width='100px' style='cursor: pointer'>
        </div>
    </div>

    <script>
        $( document ).ready(function(){
            $("#loaded_whiteboard").daveConversationSetup({
                "host_url": "https://test.iamdave.ai"
            });
            set_cc.resize =  [-80, -35];
        });
    </script>
</body>
